.card{
    border: solid 1px black;
    width: 29.5vw;
    display: inline-block;
    padding: 10px;
    margin: 5px;

}
.body{
    border:solid 0;
    
    margin: 5px;
    padding: 5px;
    background-color:rgb(0, 0, 0);
    color: white;
}
